/* ============================= NAV ========================= */

main {
  padding-top: 90px;
}

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  background: #fff;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: 1px solid #000;
  /* box-shadow: 0 0 10px #0008; */
  padding: 17px 0;
  /* height: 80px; */
}
/* .nav.scrolled {
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  background: #fff;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: 1px solid #000;
  padding: 17px 0;
} */

.username {
  font-family: khula;
  font-size: 33px;
  font-weight: 600;
  margin-top: 30px;
}

.profile-div {
  display: flex;
  position: fixed;
  left: 40px;
  background: #0002;
  padding: 0px 10px;
  border-radius: 50px;
  justify-content: center;
  height: 68px;
  align-content: center;
  align-items: center;
}

.profile-picM {
  width: 37px;
  height: 37px;
  margin-bottom: 2px;
  margin-left: 7px;
  background: #8ec3e6;
  padding: 8px;
  border-radius: 50px;
}
.profile-picF {
  width: 37px;
  height: 37px;
  margin-bottom: 2px;
  margin-left: 7px;
  background: #0003;
  padding: 8px;
  border-radius: 50px;
}

.right-nav-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top-logo {
  font-size: 45px;
  font-family: yeseva one;
  font-weight: 500;
  margin: 0 0px 0px 0;
  color: #000;
}

.top-logo-pic {
  margin: 0px 0 0px 0;
  width: 43px;
  transform: rotate(20deg);
  padding: 0;
  transition: 0.7s ease-in-out;
}
.top-logo-pic:hover {
  transform: rotate(380deg);
}

/* =============================== SIGN UP - SIGN IN MODAL =============================== */

/* .modal-button {
  list-style: none;
  cursor: pointer;
  padding: 13px 13px 10px 13px;
  text-align: center;
  background: #029;
  color: white;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: yanone Kaffeesatz;
  letter-spacing: 0.3px;
  font-size: 20px;
}
.modal-button:hover {
  background: #027;
} */
/*
.sign-modal {
  position: fixed;
  right: 40px;
} */

/* .sign-modal[open] {
  position: absolute;
  padding: 1% 5% 1% 5%;
  background: #ddd;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #0009;
  width: 24%;
} */

/* .fa-sign-in-alt {
  margin-right: 10px;
} */

.fa-sign-in-alt {
  position: fixed;
  right: 50px;
  top: 23px;
  font-size: 40px;
  cursor: pointer;
  color: #039;
}

.menu {
  /* display: none; */
  background: #ddd;
  position: fixed;
  right: -900px;
  height: 70%;
  width: 25%;
  /* top: 80px; */
  padding: 20px 100px 50px 100px;
  /* border: 1px solid; */
  transition: 1s;
  z-index: 1;
}
.menu.toggle-open {
  /* display: block; */
  /* width: 90%; */
  right: 0px;
  overflow: auto;
  background-color: #039;
  overflow-y: auto;
  border-radius: 2px;
}

/* =============================== SIGN OUT =============================== */

.sign-out {
  position: fixed;
  cursor: pointer;
  padding: 11px 13px 10px 13px;
  text-align: center;
  background: #a41e14;
  color: white;
  border-radius: 1.8px;
  /* margin-bottom: 10px;
  margin-top: 10px; */
  font-family: yanone Kaffeesatz;
  letter-spacing: 0.3px;
  font-size: 20px;
  right: 40px;
  top: 23.2px;
  border: none;
}
.sign-out:hover {
  background: #941e14;
}

/* =============================== SIGN UP MODAL =============================== */

.signup-title {
  font-size: 20px;
  margin: 35px 0 14px 0;
  text-align: center;
  color: #fff;
  font-family: acme;
  background: #0003;
  list-style: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 0;
  border: 1.2px solid #0000;
}

.signup-title:hover {
  background-color: #0009;
  color: #fff;
  border: 1.2px solid;
}
.signup-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.signup-inputs {
  height: 40px;
  background: white;
  border-radius: 2px;
  font-family: teko;
  border: 1px solid #0001;
  font-size: 23px;
  letter-spacing: 0.4px;
  margin-bottom: 9px;
  border-radius: 3px;
  outline-color: #000;
}
.signup-inputs:hover {
  border: 1px solid;
}
.signup-submit {
  height: 30px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
  font-family: Yanone Kaffeesatz;
  letter-spacing: 1px;
  padding: 5px 0 1px 0;
  margin-bottom: 20px;
}
.signup-submit:hover {
  background: #282828;
  color: white;
}
.gender-title {
  font-size: 25px;
  font-family: acme;
  letter-spacing: 0px;
  text-align: center;
}

/* ======================== SIGN IN ================================== */

.signin-title {
  font-size: 25px;
  margin: 35px 0 4px 0;
  text-align: center;
  color: #fff;
  font-family: acme;
  list-style: none;
  border-radius: 3px;
  padding: 6px 0;
}

.signin-inputs {
  height: 40px;
  background: white;
  border-radius: 2px;
  font-family: teko;
  border: 1px solid #0001;
  font-size: 23px;
  letter-spacing: 0.4px;
  margin-bottom: 9px;
  border-radius: 3px;
  outline-color: #000;
}
.signin-inputs:hover {
  border: 1px solid;
}
.signin-button {
  height: 30px;
  background: #ffe749;
  color: #000;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
  font-family: Yanone Kaffeesatz;
  letter-spacing: 1px;
  padding: 5px 0 1px 0;
  margin-bottom: 20px;
}
.signin-button:hover {
  background: #ffcc0d;
  color: #000;
}

.signin-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrong-pass,
.wrong-user {
  text-align: center;
  margin: 0 0 5px 0;
  padding: 0;
  color: red;
  font-family: teko;
  font-weight: 400;
  font-size: 23px;
}

/* ================================= POST ARTICLE MODAL ================================== */

#warning-text {
  position: fixed;
  right: 430px;
  top: 0px;
  color: #900;
  font-family: teko;
  font-weight: 300;
  font-size: 27px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#open-post-modal-before:focus {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

#open-post-modal-before {
  position: fixed;
  right: 270px;
  border: none;
  background: #888;
  color: white;
  padding: 7px 10px 3px 10px;
  border-radius: 1.8px;
  /* cursor: pointer; */
  font-size: 24px;
  font-family: teko;
  letter-spacing: 0.5px;
  /* margin-left: 15px; */
  top: 23px;
}

#open-post-modal {
  position: fixed;
  right: 100px;
  border: none;
  background: #029;
  color: white;
  padding: 7px 10px 3px 10px;
  border-radius: 1.8px;
  cursor: pointer;
  font-size: 24px;
  font-family: teko;
  letter-spacing: 0.5px;
  /* margin-left: 15px; */
  top: 23px;
}
#open-post-modal:hover {
  background: #027;
}
.fa-file-alt {
  margin-right: 3px;
}

#post-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #0004;
}

.post-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-post-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-post-modal:hover,
.close-post-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ================================= CONTENT ================================== */
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-container {
  display: flex;
  justify-content: center;
  width: 40%;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 15px;
  /* background: #deeae368; */
  padding: 10px;
}

.article-div {
  display: flex;
  justify-content: center;
  /* width: 50%; */
  align-items: center;
  align-content: center;
  margin: 10px;
}
.info-div {
  margin-right: 10px;
  width: 100%;
  /* background: #0003; */
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* align-self: flex-end; */
}
.img {
  width: 80%;
  /* height: 100%; */
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  margin-left: 20px;
  max-width: 300px;
}

.author {
  font-size: 23px;
  margin-bottom: 0px;
  color: #048;
  /* text-shadow: 1px 1px 2px #0004; */
  font-family: Yanone Kaffeesatz;
  font-weight: 400;
}
.title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: teko;
  font-weight: 500;
}
.content {
  font-size: 25px;
  color: #0009;
  margin-top: 5px;
  font-family: yanone Kaffeesatz;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.read-length {
  font-size: 17px;
  margin-top: 0;
  font-family: teko;
  color: #0008;
  font-weight: 500;
  letter-spacing: 0.2px;
}

/* ====================== COMMENT SECTION  ========================= */
.comment-container {
  width: 98%;
}

.comment-div {
  display: flex;
}

.comment-input {
  width: 100%;
  height: 60px;
  font-family: teko;
  font-size: 25px;
  resize: none;
  border-radius: 3px;
  border: 2px solid #0008;
  margin: 0;
  outline-color: black;
}
.comment-input:hover {
  border: 2px solid #000;
}

.comment-submit {
  width: 20%;
  /* height: 60px; */
  background: none;
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
  margin: 0;
  font-family: teko;
  font-size: 23px;
  background: #0489;
  color: #fff;
}
.comment-submit:hover {
  background: #048;
  color: white;
}

/* ======================== EDIT ARTICLE ================================== */

.edit-details {
  margin: 20px;
  font-family: teko;
  font-size: 24px;
  font-weight: 100;
  color: #fff;
}

.edit-details[open] {
  background: #fff;
  padding: 8% 30%;
  content: none;
  background: #f9ce00;
  color: #000;
}

.edit-details:hover {
  background: #f9ce00;
  color: #000;
}

.edit-summary {
  list-style: none;
  cursor: pointer;
  padding: 2px 10px 0 10px;
  text-align: center;
  background: #282828;
  color: white;
  border-radius: 2px;
}

.edit-summary:hover {
  background: #000;
}

.edit-inputs {
  width: 300px;
  height: 40px;
  margin: 5px 0;
  font-family: teko;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #0001;
  outline-color: black;
}
.edit-inputs:hover {
  border: 1px solid #000;
}

.edit-content {
  width: 300px;
  height: 70px;
  margin: 5px 0;
  resize: vertical;
  max-height: 300px;
  min-height: 70px;
  font-family: teko;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #0001;
  outline-color: black;
}
.edit-content:hover {
  border: 1px solid #000;
}

.save-edit {
  width: 100%;
  height: 40px;
  background: #049;
  color: white;
  font-family: teko;
  font-size: 27px;
  border: none;
  cursor: pointer;
  margin-top: 12px;
}
.save-edit:hover {
  background: #04b;
}

input[type="number"]::inner-spin-button {
  appearance: none;
}

.fa-edit {
  margin-right: 10px;
}

/* ======================== DELETE ARTICLE ================================== */

.delete-btn {
  width: 100%;
  height: 36px;
  background: #ca291c;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 2px;
  font-family: teko;
  font-size: 24px;
  padding: 3.5px 10px 5px 10px;
  margin-top: 5px;
}
.delete-btn:hover {
  background: #d32a22;
}

.fa-trash {
  margin-right: 10px;
}
