/* ============================= NAV ========================= */

main {
  padding-top: 90px;
}

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  background: #fff;
  width: 100%;
  left: 0;
  top: 0;
  /* border: 2.5px solid #0003; */
  box-shadow: 0 0 10px #0008;
  padding: 17px 0;
  /* height: 80px; */
}

.loggin {
  /* top: 100px; */
  /* background: #0007; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding: 50px; */
}

.top-logo {
  font-size: 45px;
  font-family: yeseva one;
  font-weight: 500;
  margin: 0 100px 0 0;
  color: #000;
}

.top-logo-pic {
  margin: 0 0 8px 0;
  width: 43px;
  transform: rotate(20deg);
  padding: 0;
}
/* =============================== SIGN UP - SIGN IN MODAL =============================== */

.modal-button {
  list-style: none;
  cursor: pointer;
  padding: 13px 13px 10px 13px;
  text-align: center;
  background: #029;
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: yanone Kaffeesatz;
  letter-spacing: 0.3px;
  font-size: 20px;
}
.modal-button:hover {
  background: #027;
}

.sign-modal {
  position: fixed;
  right: 40px;
}

.sign-modal[open] {
  position: absolute;
  padding: 1% 5% 1% 5%;
  background: #ddd;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #0009;
  width: 24%;
}

/* =============================== SIGN UP MODAL =============================== */

.signup-title {
  font-size: 20px;
  margin: 35px 0 14px 0;
  text-align: center;
  color: #000;
  font-family: acme;
  background: #0001;
  list-style: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 0;
  border: 1.2px solid;
}

.signup-title:hover {
  background-color: #0007;
  color: #fff;
}
.signup-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.signup-inputs {
  height: 40px;
  background: white;
  border-radius: 2px;
  font-family: teko;
  border: 1px solid #0001;
  font-size: 23px;
  letter-spacing: 0.4px;
  margin-bottom: 9px;
  border-radius: 3px;
  outline-color: #000;
}
.signup-inputs:hover {
  border: 1px solid;
}
.signup-submit {
  height: 30px;
  background: #f9ce00;
  color: #000;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
  font-family: Yanone Kaffeesatz;
  letter-spacing: 1px;
  padding: 5px 0 1px 0;
  margin-bottom: 20px;
}
.signup-submit:hover {
  background: #000;
  color: white;
}
/* ======================== SIGN IN ================================== */

.signin-title {
  font-size: 20px;
  margin: 35px 0 4px 0;
  text-align: center;
  color: #000;
  font-family: acme;
  list-style: none;
  border-radius: 3px;
  padding: 6px 0;
}

.signin-inputs {
  height: 40px;
  width: 100%;
  background: white;
  border-radius: 2px;
  font-family: teko;
  border: 1px solid #0001;
  font-size: 23px;
  letter-spacing: 0.4px;
  margin-bottom: 9px;
  border-radius: 3px;
  outline-color: #000;
}
.signin-inputs:hover {
  border: 1px solid;
}
.signin-button {
  height: 30px;
  background: #029;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
  font-family: Yanone Kaffeesatz;
  letter-spacing: 1px;
  padding: 5px 0 1px 0;
  margin-bottom: 20px;
}
.signin-button:hover {
  background: #000;
  color: white;
}

.signin-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ================================= CONTENT ================================== */
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-container {
  display: flex;
  justify-content: center;
  width: 40%;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 15px;
  /* background: #deeae368; */
  padding: 10px;
}

.article-div {
  display: flex;
  justify-content: center;
  /* width: 50%; */
  align-items: center;
  align-content: center;
  margin: 10px;
}
.info-div {
  margin-right: 10px;
  width: 100%;
  /* background: #0003; */
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* align-self: flex-end; */
}
.img {
  width: 80%;
  /* height: 100%; */
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  margin-left: 0;
}

.author {
  font-size: 23px;
  margin-bottom: 0px;
  color: #048;
  /* text-shadow: 1px 1px 2px #0004; */
  font-family: Yanone Kaffeesatz;
  font-weight: 400;
}
.title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: teko;
  font-weight: 500;
}
.content {
  font-size: 25px;
  color: #0009;
  margin-top: 5px;
  font-family: yanone Kaffeesatz;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.read-length {
  font-size: 17px;
  margin-top: 0;
  font-family: teko;
  color: #0008;
  font-weight: 500;
  letter-spacing: 0.2px;
}

/* ====================== COMMENT SECTION  ========================= */
.comment-container {
  width: 98%;
}

.comment-div {
  display: flex;
}

.comment-input {
  width: 100%;
  height: 60px;
  font-family: teko;
  font-size: 25px;
  resize: none;
  border-radius: 3px;
  border: 2px solid #0008;
  margin: 0;
  outline-color: black;
}
.comment-input:hover {
  border: 2px solid #000;
}

.comment-submit {
  width: 20%;
  /* height: 60px; */
  background: none;
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
  margin: 0;
  font-family: teko;
  font-size: 23px;
  background: #0489;
  color: #fff;
}
.comment-submit:hover {
  background: #048;
  color: white;
}

/* ======================== EDIT ARTICLE ================================== */

.edit-details {
  /* border: 2px solid #000; */
  /* border-radius: 3px; */
  /* padding: 2px 10px 0 10px; */
  margin: 20px;
  font-family: teko;
  font-size: 24px;
  font-weight: 100;
  /* background: #028; */
  color: #fff;
}

.edit-details[open] {
  /* position: fixed; */
  background: #fff;
  padding: 8% 30%;
  content: none;
  background: #f9ce00;
  color: #000;
  /* left: 10px;
  right: 10px;
  top: 80px;
  bottom: 0; */
}

.edit-details:hover {
  background: #f9ce00;
  color: #000;
}

.edit-summary {
  list-style: none;
  cursor: pointer;
  padding: 2px 10px 0 10px;
  text-align: center;
  background: #282828;
  color: white;
  border-radius: 3px;
  /* margin-bottom: 8px; */
}

.edit-summary:hover {
  background: #000;
}

.edit-inputs {
  width: 300px;
  height: 40px;
  margin: 5px 0;
  font-family: teko;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #0001;
  outline-color: black;
}
.edit-inputs:hover {
  border: 1px solid #000;
}

.edit-content {
  width: 300px;
  height: 70px;
  margin: 5px 0;
  resize: vertical;
  max-height: 300px;
  min-height: 70px;
  font-family: teko;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #0001;
  outline-color: black;
}
.edit-content:hover {
  border: 1px solid #000;
}

.save-edit {
  width: 100%;
  height: 40px;
  background: #049;
  color: white;
  font-family: teko;
  font-size: 27px;
  border: none;
  cursor: pointer;
  margin-top: 12px;
}
.save-edit:hover {
  background: #04b;
}

input[type="number"]::inner-spin-button {
  appearance: none;
}

/* ======================== DELETE ARTICLE ================================== */

.delete-btn {
  width: 100%;
  height: 30px;
  background: #ca291c;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 2px;
  font-family: teko;
  font-size: 24px;
  padding: 0px 10px 10px 10px;
  margin-top: 5px;
}
.delete-btn:hover {
  background: #d32a22;
}
